.articles{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
   
}
.articles__main{
    width: 50%;
    height: 100%;
}
.articles__others{
    width: 50%;
    height: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
}